/* CSS chung cho AuthenTemplate */
.authen-template {
    display: flex;
    justify-content: center; /* Căn giữa form theo chiều ngang */
    align-items: center; /* Căn giữa form theo chiều dọc */
    min-height: 100vh; /* Chiều cao tối thiểu là toàn màn hình */
    padding: 20px;
    background: #09f13757; /* Màu nền tương tự như Shopee */
    background-size: cover;
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1719234690062-8dda365f7157?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/* Form */
.authen-template_form {
    background-color: white; /* Màu nền trắng cho form */
    border-radius: 12px; /* Bo góc cho form */
    padding: 40px; /* Padding cho form */
    width: 100%; /* Đặt lại width là 100% */
    max-width: 400px; /* Giới hạn chiều rộng của form */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

/* Nút đăng nhập */
.authen-template_form button {
    background-color: #0f9949; /* Màu nền cho nút */
    color: white; /* Màu chữ trắng */
    border: none; /* Không có viền */
    padding: 10px; /* Padding cho nút */
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ khi hover */
}

/* Responsive */
@media (max-width: 768px) {
    .authen-template_form {
        padding: 20px; /* Giảm padding cho thiết bị nhỏ */
        max-width: 90%; /* Đảm bảo form chiếm toàn bộ chiều rộng trên mobile */
    }
}
