.authen-template{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1515986821211-0443679c2c9e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8a29pfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;

}

.authen-template_form{
    width: 500px;
    height: 80vh;
    background-color: aliceblue;
    margin-left: 50px;
    border-radius: 12px;
    padding: 30px;
}
