.AuthenTemplate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .Form {
    width: 100%;
    max-width: 300px; /* Maximum width of the form */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
    border-radius: 8px; /* Optional: rounds the corners */
  }
  
  .Input, .Button {
    width: 100%; /* Full width elements */
  }